.App{
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');
$heading-font: 'Oswald', sans-serif;
$body-font: 'Open Sans', sans-serif;
$cover-image: 'https://lh3.googleusercontent.com/CKUtwkkxTtXGMgOTMhHNIzRTSUfeaqkA4UY6VRlrovzaIsUXwIUJpol5oQyEAFs3nNjvOLxlIW5yEUaHYJj3stqTFpKy5dNchuudEyI7K_7BduzKvtVMoxw4L8NlnEm95rhow1fTZRRrr8ltGdxsn4OIHW0p7g1jZjunqL-U1XQWZwtiYlo5qFDHELOyc9YsEIaG4SYFS25Zu6VbfWvGYqkL5U8Ki9gVZc-uLVgLBVKyfbb_04xc7grHS_YFgG2T_D6E47VCleZLZDO6U0HAIe5ASl03d_0MHRYIcbeDmUVxGRjVqnjO_RUa4tz8_zpFJ3C6nbB9C4JSDUx_iuRWnJTAIawlUUYIi8XPHbhl-pNdPr0zw9R5Wz6FOfsSmNLSTavjq-E51TctBho4gxN9c7TiGYxdXDRR8TxM-qm_Bf_LmEtNOfZv7Zn8n7ivjN3IkyZEIINQfE9yaenV0IfJIkLgjs-exHv9DbPXm8pqRrSplhgRoi40ywaqbhF7-MklfxSPV6KRv4izaBY6kj5BYp9RJGOfNIuWjXWifncLF6XJJ6BWUTpAv-I-wFbq-BmZDihboAmnnJlWEklhxUOuV46bUXW1JsVl4kZYgfNctsO1YYogrUwGn2lup36J8Iv1u8c6TM2izVS73wDztTVxQ98uZhsHbZ9Tv1uk6hUXv4MMWcRVjD73SnPXC7ams3ZKHcNvXYiddG5_767b4wT9YiS7FVLTJ5SVH8PpGbr72SH50lygQ-6rb-o=w1124-h843-no?authuser=0';
$main-color:#091529;
$fade-color:#091529b2;
$fade-color2:#92aad3b2;
$Hover-color: rgba(120, 144, 211, 0.774);
$silver: #e7e6e6;

#Full-Logo{
    display: flex;
}
#Small-Logo{
    display: none;
}
button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    border: solid 2px;
    transition: .5s;
    outline: none;
}
button:hover {
    background-color: $Hover-color;
    border-radius: 20px;
}
h1{
    font-family: $heading-font;
    font-size: 5rem;
    line-height: .5;
}
h2{
    font-family: $heading-font;
    font-size: 2rem;
    line-height: 2.5;
}
h3{
    font-family: $heading-font;
}
h4{
    font-family: $heading-font;
}
p{
    font-family: $body-font;
}

.Home{
    min-width: 100%;
    height: 100%;
}
.Cover{
    min-width: 100%;
    min-height:85vh;
    background-image: url($cover-image);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.Cover-Box{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: auto;
    background-color: $fade-color;
    color: $silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Header-Container{
    display: flex;
    flex-direction: column;
}
.Header-Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
    height: 15vh;
    background-color: $main-color;
    img{
        height: 80px;
        margin-left: 50px;
    }
    z-index: 1;
}
.Header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
}
.Menu {
    display: flex;
    justify-content: flex-start;
    width: auto;
    margin-right: 50px;
    z-index: 0;
}
.Menu-Item {
    h2{
        line-height: 1;
        font-size: 1.5rem;
        color: white;
        transition: .25s ease-in;
        margin: 10px;
    }
    margin-right: 25px;
    transition: .25s ease-in;
    border: solid 2px transparent;
    border-radius: 20px;
}
.Menu-Item:hover {
    h2{
        color: $Hover-color;
    }
    cursor: pointer;
    border: solid 2px $Hover-color;
}
.Hamburger{
    display: none;
}
.Menu-false {
display: none
}
.Mobile-Menu {
    display: none;
}


@media (max-width: 1000px) {
    h1{
        font-family: $heading-font;
        font-size: 5rem;
        line-height: 1;
    }
    h2{
        font-family: $heading-font;
        font-size: 2rem;
        line-height: 1.6;
    }

    #Small-Logo{
        display: flex;
    }
    .Mobile-Menu {
        display: flex;
    }
    .Menu{
        display: none;
    }
    .Header{
        img{
            height: 60px;
            margin-left: 50px;
        }
    }
    .Hamburger{
        display: flex;
        color: white;
        margin-right: 50px;
        font-size: 2rem;
    }
    .Header-Top{
        z-index: 1;
    }
    .Menu-true{
        width:100vw;
        position: static;
        min-height:85vh;
        height: 85vh;
        background-color: $silver;
        color: $main-color;
        overflow: hidden;
        transition: min-height .25s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .Menu-false {
        background-color: $silver;
        width: 100vw;
        min-height: 0vh;
        max-height: 0vh;
        transition: min-height .25s ease-in-out;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .Menu-List{
        transition: all .2s ease;
        overflow: hidden;
        position: relative;
        height: 40px;
        margin: 10px;
        padding: 3px;
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $main-color;
        font-size: 1.2 rem;
        border-bottom: 1px solid transparent;
    }
}